@keyframes showElement {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  25% {
    opacity: .3; }
  75% {
    opacity: .6; }
  100% {
    opacity: 1; } }
header.centered_logo .q_logo {
  justify-content: space-evenly;
  display: flex; }
  header.centered_logo .q_logo img {
    transform: unset;
    -webkit-transform: unset; }
header.centered_logo .header_bottom {
  background-color: rgba(255, 255, 255, 0) !important; }

.page_container_inner.container_inner {
  width: 95%; }

.container_inner {
  margin: auto; }

.rayo-hero-image-home:before {
  content: url(/wp-content/uploads/2018/01/rayo.png);
  position: absolute;
  bottom: 0;
  z-index: 30;
  left: 50%;
  transform: translate(-50%, 50%); }

.rayo-lateral-derecho:before {
  content: url(/wp-content/uploads/2018/01/rayo.png);
  position: absolute;
  top: 50%;
  z-index: 30;
  right: 0;
  transform: translate(50%, -50%); }

.box-shadow-row-color-black {
  box-shadow: 0 5px 25px black; }

a {
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s; }

.color-blanco-texto {
  color: #fff; }

.color-negro-texto {
  color: #2e2e2e; }

.color-gris-texto {
  color: #666666; }

.font-family-raleway {
  font-family: "Raleway"; }

.font-family-oswald {
  font-family: "Raleway"; }

.font-weight-extrabold {
  font-weight: 800; }

.font-weight-bold {
  font-weight: 600; }

.texto-centrado {
  text-align: center; }

.rippley .show {
  display: block;
  opacity: 1;
  transition: .3s;
  animation: showElement .5s ease-in-out; }

.equal-height-row .full_section_inner, .equal-height-row .wpb_column {
  display: flex; }
.equal-height-row .wpb_column {
  align-items: center;
  text-align: center;
  justify-content: center; }

.contact-form-flash, .page-template-facturacion .form-factura, .page-template-informar-pago .form-factura {
  display: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  margin: auto;
  max-width: 800px; }
  .contact-form-flash .text-inputs, .page-template-facturacion .form-factura .text-inputs, .page-template-informar-pago .form-factura .text-inputs {
    display: flex;
    justify-content: space-between; }
    .contact-form-flash .text-inputs div, .page-template-facturacion .form-factura .text-inputs div, .page-template-informar-pago .form-factura .text-inputs div {
      width: 49%; }
    .contact-form-flash .text-inputs br, .page-template-facturacion .form-factura .text-inputs br, .page-template-informar-pago .form-factura .text-inputs br {
      display: none; }

.qbutton, .rippley .wpcf7-form-control.wpcf7-submit {
  display: block;
  max-width: 200px;
  text-align: center;
  margin: auto; }

.rippley .wpcf7-response-output {
  max-width: 800px;
  margin: auto; }

.flip-container {
  -webkit-perspective: 1000;
  transform-style: preserve-3d;
  -moz-transform: perspective(2000px);
  -o-perspective: 1000;
  perspective: 1000px; }
  .flip-container .vc_column-inner {
    transform-style: preserve-3d; }
  .flip-container:hover > .vc_column-inner > .wpb_wrapper, .flip-container.hover > .vc_column-inner > .wpb_wrapper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .flip-container > .vc_column-inner > .wpb_wrapper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }

.front, .back {
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.rippley footer .two_columns_50_50 {
  width: 90%;
  margin: 0 5%; }

/*** Ajuste Layout > 1920px ***/
.rippley .wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

.home.rippley header.centered_logo .header_inner_left {
  margin: 0px 0 90px 0; }
.home.rippley header.centered_logo .header_inner_right {
  visibility: hidden; }
.home.rippley .rippley-quienes-somos {
  background-size: 100% 85% !important;
  background-position: center top !important;
  background-attachment: fixed; }
.home.rippley .rippley-flash-contacto {
  z-index: 55; }
.home.rippley footer {
  z-index: 0; }
.home.rippley .caracteristicas-flash .wpb_column.vc_column_container.vc_col-sm-6, .home.rippley .caracteristicas-flash .wpb_column.vc_column_container.vc_col-sm-3 {
  height: 300px; }
  .home.rippley .caracteristicas-flash .wpb_column.vc_column_container.vc_col-sm-6:not(.column-background):not(.hero-column) .vc_column-inner, .home.rippley .caracteristicas-flash .wpb_column.vc_column_container.vc_col-sm-3:not(.column-background):not(.hero-column) .vc_column-inner {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex; }
.home.rippley .caracteristicas-flash .hero-column .vc_column-inner {
  align-items: flex-end;
  text-align: right;
  display: flex; }
.home.rippley .caracteristicas-flash .vc_column-inner {
  padding: 0;
  height: 100%; }
.home.rippley .servicios-flash ul {
  list-style: none; }
.home.rippley .servicios-flash .image-column-vc-3, .home.rippley .servicios-flash .image-column-vc-6, .home.rippley .servicios-flash .text-column-vc-6 {
  height: 300px; }
.home.rippley .servicios-flash .image-column-vc-6-big {
  height: 600px; }
.home.rippley .servicios-flash .vc_column-inner, .home.rippley .servicios-flash .wpb_wrapper, .home.rippley .servicios-flash .wpb_single_image, .home.rippley .servicios-flash .vc_single_image-wrapper,
.home.rippley .servicios-flash .vc_single_image-img {
  height: 100%; }
.home.rippley .servicios-flash .full_section_inner {
  display: flex;
  flex-direction: row;
  align-items: flex-end; }
.home.rippley .servicios-flash .back h3 {
  margin-bottom: 20px;
  text-align: center; }
.home.rippley .servicios-flash .back .wpb_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; }
.home.rippley .servicios-flash .back.column-list-vc-6 .wpb_wrapper {
  margin: 0 8%;
  text-align: center;
  align-items: center; }
.home.rippley .servicios-flash .back.column-list-vc-6-big .wpb_wrapper {
  margin: 0 18%;
  align-items: left; }
  .home.rippley .servicios-flash .back.column-list-vc-6-big .wpb_wrapper ul {
    text-align: left; }
  .home.rippley .servicios-flash .back.column-list-vc-6-big .wpb_wrapper li:before {
    content: '\23F9';
    margin-right: 10px; }
.home.rippley .servicios-flash .back:not(.column-list-vc-6) {
  text-align: center; }

.rippley.error404 .content {
  margin-top: 0;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
.rippley.error404 header {
  display: none; }

.page-template-facturacion header.centered_logo, .page-template-informar-pago header.centered_logo {
  position: absolute !important; }
  .page-template-facturacion header.centered_logo .container_inner, .page-template-informar-pago header.centered_logo .container_inner {
    display: flex; }
  .page-template-facturacion header.centered_logo .header_inner_left, .page-template-informar-pago header.centered_logo .header_inner_left {
    flex: 1 1 100%;
    margin: 15px 0; }
  .page-template-facturacion header.centered_logo .header_inner_right, .page-template-informar-pago header.centered_logo .header_inner_right {
    display: none; }
  .page-template-facturacion header.centered_logo li a, .page-template-informar-pago header.centered_logo li a {
    display: flex;
    align-items: center; }
.page-template-facturacion .btn-pago, .page-template-informar-pago .btn-pago {
  display: flex;
  justify-content: center;
  margin: 30px 0; }
.page-template-facturacion .wpcf7-response-output, .page-template-informar-pago .wpcf7-response-output {
  margin-top: 25px; }
.page-template-facturacion .form-factura, .page-template-informar-pago .form-factura {
  display: block;
  opacity: 1; }
  .page-template-facturacion .form-factura .text-inputs, .page-template-informar-pago .form-factura .text-inputs {
    margin: 25px 0; }
.page-template-facturacion .flash-seccion-facturacion h3, .page-template-informar-pago .flash-seccion-facturacion h3 {
  margin-bottom: 30px; }
.page-template-facturacion .flash-seccion-facturacion .table-container, .page-template-informar-pago .flash-seccion-facturacion .table-container {
  overflow-x: auto; }
.page-template-facturacion .flash-seccion-facturacion table.rippley-tabla-facturas, .page-template-informar-pago .flash-seccion-facturacion table.rippley-tabla-facturas {
  overflow-x: auto;
  max-width: 1000px;
  margin: auto; }

.rippley .rippley-form-informar-pago {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto; }
  .rippley .rippley-form-informar-pago > div {
    flex: 0 1 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .rippley .rippley-form-informar-pago > div label {
      flex: 1; }
  .rippley .rippley-form-informar-pago input {
    border-bottom: 1px solid gray; }

.btn-submit {
  margin-top: 40px; }

.file-input-wrapper {
  width: 200px;
  height: 40px;
  overflow: hidden;
  position: relative; }
  .file-input-wrapper .wpcf7-form-control-wrap {
    position: unset; }
  .file-input-wrapper input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0; }
  .file-input-wrapper > .btn-file-input {
    display: inline-block;
    padding: 0;
    width: 200px;
    height: 40px; }

/* -----------------------------------------    Desktops    ------------------------------------- */
/* Large Desktop */
/* Medium Desktop & iPad Pro Landscape */
/* Small Desktop & Galaxy Tab Landscape */
/**** Betheme starts mobile *****/
/* --------------------------------------    Tablets $ Mobile    -------------------------------- */
/* iPad Pro Portrait & iPad I/II Landscape */
/* iPad Pro Portrait & iPad I/II Landscape */
@media only screen and (max-width: 992px) {
  .content .container .container_inner.page_container_inner, .full_page_container_inner {
    padding: 0; }

  .rayo-lateral-derecho:before {
    top: -25%;
    right: unset;
    left: 50%;
    transform: translateX(-50%); }

  .home.rippley header.centered_logo {
    position: absolute !important; }
    .home.rippley header.centered_logo .header_inner_right {
      visibility: visible; }
    .home.rippley header.centered_logo .header_bottom {
      background-color: rgba(255, 255, 255, 0) !important; }
    .home.rippley header.centered_logo .header_inner_left {
      margin: 0; }
  .home.rippley .caracteristicas-flash .vc_row.wpb_row.section.vc_row-fluid.vc_inner {
    max-width: 600px;
    margin: auto; }
  .home.rippley .caracteristicas-flash .vc_col-sm-3 {
    width: 50%;
    float: left; }
    .home.rippley .caracteristicas-flash .vc_col-sm-3.column-background {
      width: 100%; }
  .home.rippley .caracteristicas-flash .vc_col-sm-6 {
    width: 100%;
    float: left; }
  .home.rippley .caracteristicas-flash .text-column-vc-6 {
    width: 100%; }
  .home.rippley .caracteristicas-flash .hero-column .vc_column-inner {
    align-items: center;
    text-align: center; }
  .home.rippley .servicios-flash {
    max-width: 600px; }
    .home.rippley .servicios-flash h1 {
      margin-bottom: 40px;
      text-align: center; }
      .home.rippley .servicios-flash h1 br {
        display: none; }
    .home.rippley .servicios-flash .servicios-flash-column {
      width: 100%; }
    .home.rippley .servicios-flash > .full_section_inner > .wpb_column {
      width: 100%; }
    .home.rippley .servicios-flash .text-column-vc-6 {
      height: auto; }
    .home.rippley .servicios-flash .image-column-vc-6, .home.rippley .servicios-flash .image-column-vc-6-big {
      width: 100%; }
    .home.rippley .servicios-flash .image-column-vc-3 {
      width: 50%;
      float: left; }
    .home.rippley .servicios-flash .full_section_inner {
      display: block; }

  .page-template-facturacion header.centered_logo .container_inner, .page-template-informar-pago header.centered_logo .container_inner {
    display: block; }
  .page-template-facturacion header.centered_logo .header_inner_right, .page-template-informar-pago header.centered_logo .header_inner_right {
    display: block; } }
/* Galaxy Tab Portrait */
/* iPad I/II Portrait */
@media only screen and (max-width: 768px) {
  .page-template-facturacion .form-factura .text-inputs {
    flex-direction: column;
    align-items: center; } }
/* iPad I/II Portrait */
@media only screen and (max-width: 767px) {
  .rippley .contact-form-flash .text-inputs, .rippley .page-template-facturacion .form-factura .text-inputs, .page-template-facturacion .rippley .form-factura .text-inputs, .rippley .page-template-informar-pago .form-factura .text-inputs, .page-template-informar-pago .rippley .form-factura .text-inputs, .rippley .form-factura .text-inputs {
    display: block; }
    .rippley .contact-form-flash .text-inputs div, .rippley .page-template-facturacion .form-factura .text-inputs div, .page-template-facturacion .rippley .form-factura .text-inputs div, .rippley .page-template-informar-pago .form-factura .text-inputs div, .page-template-informar-pago .rippley .form-factura .text-inputs div, .rippley .form-factura .text-inputs div {
      width: 100%; }

  .rippley .wpcf7-response-output {
    max-width: 800px;
    margin: auto; }

  .equal-height-row .full_section_inner {
    flex-direction: column-reverse; }
  .equal-height-row .wpb_column {
    flex: 1 1 150px; }

  .rippley .rippley-form-informar-pago > div {
    flex: 0 1 90%; } }
/* iPhone 6+ Landscape */
/* Phone 6 Landscape */
/* Galaxy S3/S4/S5 Landscape*/
/* iPhone 5 Landscape */
/* iPhone 4 Landscape */
@media only screen and (max-width: 480px) {
  .rippley footer .two_columns_50_50 {
    margin: 5%; }

  .home.rippley .rippley-quienes-somos {
    background-size: cover !important; }
  .home.rippley .caracteristicas-flash .vc_col-sm-3, .home.rippley .caracteristicas-flash .vc_col-sm-6 {
    width: 100%; }
  .home.rippley .servicios-flash .image-column-vc-3 {
    width: 100%; }
  .home.rippley .servicios-flash .image-column-vc-6-big .back .wpb_wrapper {
    margin: 0 auto;
    max-width: 270px; }
  .home.rippley .servicios-flash.container_inner {
    width: 100%; }

  .page-template-facturacion .flash-seccion-facturacion table.rippley-tabla-facturas {
    width: 600px; } }
/* iPhone 6+ Portrait */
/* iPhone 6 Portrait */
/* iPhone 4/5 & Galaxy S3/S4/S5 Portrait */

/*# sourceMappingURL=main.css.map */
