
.rippley.error404{
    .content{
        margin-top: 0;
        min-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    header{
        display: none;
    }
} 


.page-template-facturacion, .page-template-informar-pago{

    header.centered_logo{
        position: absolute !important;
        .container_inner{
            display: flex;
        }
        .header_inner_left{
            flex: 1 1 100%;
            margin: 15px 0;
        }
        .header_inner_right{
            display: none;
        }

        li a{
            display: flex;
            align-items: center
        }
    }

    .btn-pago{
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }

    .wpcf7-response-output{
        margin-top: 25px;
    }

    .form-factura{
        @extend .contact-form-flash;
        display: block;
        opacity: 1;
        
        .text-inputs{
            margin: 25px 0;
        }
    }

    .flash-seccion-facturacion{
        h3{
            margin-bottom: 30px;
        }
        .table-container{
            overflow-x: auto;
        }
        table.rippley-tabla-facturas{
            overflow-x: auto;
            max-width: 1000px;
            margin: auto;
        }
    }
} 

.rippley .rippley-form-informar-pago{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

    & > div {
        flex: 0 1 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        label{
            flex: 1;
        }
    }

    input{
        border-bottom: 1px solid gray;
    }
}

.btn-submit{
    margin-top: 40px;
}    

.file-input-wrapper {
    width: 200px;
    height: 40px;
    overflow: hidden;
    position: relative;

    .wpcf7-form-control-wrap{
        position: unset;
    }

    input[type="file"] {
        font-size: 200px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
    }

    & > .btn-file-input {
        display: inline-block;
        padding: 0;
        width: 200px;
        height: 40px;
    }
}
