.page-template-facturacion, .page-template-informar-pago{
    header.centered_logo{
        .container_inner{
            display: block;
        }

        .header_inner_right{
            display: block;
        }
    }
}