
.content .container .container_inner.page_container_inner, .full_page_container_inner{
    padding: 0;
}

.rayo-lateral-derecho:before{
    top: -25%;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
}


