.rippley .contact-form-flash, .rippley .form-factura{
    .text-inputs{
        display: block;
        div{
            width: 100%;
        }
    }
}

.rippley .wpcf7-response-output{
    max-width: 800px;
    margin: auto;
}

.equal-height-row{
    .full_section_inner{
        flex-direction: column-reverse;
    }
    .wpb_column{
        flex: 1 1 150px;
    }
}