@keyframes showElement {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
    }
    25% {
        opacity: .3;
      }
    75%{
        opacity: .6;
      }
    100% {
      opacity: 1;
    }
  }

header.centered_logo{
    .q_logo{
        justify-content: space-evenly;
        display: flex;
        img{
            transform: unset;
            -webkit-transform: unset;
        }
    }
    .header_bottom{
        background-color: rgba(255, 255, 255, 0) !important;
    }
}

//Max width Content
.page_container_inner.container_inner{
    width: 95%;
}

.container_inner{
    margin: auto;
}

.rayo-hero-image-home:before{
    content: url(/wp-content/uploads/2018/01/rayo.png);
    position: absolute;
    bottom: 0;
    z-index: 30;
    left: 50%;
    transform: translate(-50%,50%);
}

.rayo-lateral-derecho:before{
    content: url(/wp-content/uploads/2018/01/rayo.png);
    position: absolute;
    top: 50%;
    z-index: 30;
    right: 0;
    transform: translate(50%, -50%);
}

.box-shadow-row-color-black{
    box-shadow: 0 5px 25px black;
}

a{
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
}

.color-blanco-texto{
    color: $flash-color-1;
}

.color-negro-texto{
    color: $flash-color-2;
}

.color-gris-texto{
    color: $flash-color-3;
}

.font-family-raleway{
    font-family: $flash-font-family-1;
}

.font-family-oswald{
    font-family: $flash-font-family-1;
}

.font-weight-extrabold{
    font-weight: 800;
}

.font-weight-bold{
    font-weight: 600;
}

.texto-centrado{
    text-align: center;
}

.rippley .show{
    display: block;
    opacity: 1;
    transition: .3s;
    animation: showElement .5s ease-in-out;
}


.equal-height-row{
    .full_section_inner, .wpb_column{
        display: flex;
    }
    .wpb_column{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

.contact-form-flash{
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    margin: auto;
    max-width: 800px;
    .text-inputs{
        display: flex;
        justify-content: space-between;
        div{
            width: 49%;
        }
        br{
            display: none;
        }
    }
}

.qbutton, .rippley .wpcf7-form-control.wpcf7-submit{
    display: block;
    max-width: 200px;
    text-align: center;
    margin: auto;
}

.rippley .wpcf7-response-output{
    max-width: 800px;
    margin: auto;
}



    //Efecto Flip Card
    .flip-container {
        -webkit-perspective: 1000;
        transform-style: preserve-3d;
        -moz-transform: perspective(2000px);
        -o-perspective: 1000;
        perspective: 1000px;

        .vc_column-inner{
            transform-style: preserve-3d;
        }

        &:hover > .vc_column-inner > .wpb_wrapper,
        &.hover > .vc_column-inner > .wpb_wrapper{
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        & > .vc_column-inner > .wpb_wrapper{
            -webkit-transition: 0.6s;
            -webkit-transform-style: preserve-3d;
        
            -moz-transition: 0.6s;
            -moz-transform-style: preserve-3d;
          
            -o-transition: 0.6s;
            -o-transform-style: preserve-3d;
        
            transition: 0.6s;
            transform-style: preserve-3d;
        
            position: relative;    
        }
    }
        
  
    .front, .back {
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .back {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    //Footer
    .rippley footer .two_columns_50_50{
      width: 90%;
      margin: 0 5%;
    }

    /*** Ajuste Layout > 1920px ***/
    .rippley .wrapper {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
    }
    