.home.rippley{

    header.centered_logo{
        position: absolute !important;
        .header_inner_right{
            visibility: visible;
        }
        .header_bottom{
            background-color: rgba(255, 255, 255, 0) !important;
        }
        .header_inner_left{
            margin: 0;
        }
    }

    .caracteristicas-flash{
        .vc_row.wpb_row.section.vc_row-fluid.vc_inner{
            max-width: 600px;
            margin: auto;
        }
        .vc_col-sm-3{
            width: 50%;
            float: left;
    
            &.column-background{
                width: 100%;
            }
        }
        .vc_col-sm-6{
            width: 100%;
            float: left;
        }
        .text-column-vc-6{
            width: 100%
        }
        .hero-column .vc_column-inner{
            align-items: center;
            text-align: center;
        }
    }
    
    .servicios-flash{
        max-width: 600px;
         h1{
            margin-bottom: 40px;
            text-align: center;
            br{
                display: none;
            }
        } 
    
        .servicios-flash-column{
            width: 100%;
        }
        & > .full_section_inner > .wpb_column{
            width: 100%;
        }  
        .text-column-vc-6{
            height: auto;
        }
        .image-column-vc-6, .image-column-vc-6-big{
            width: 100%;
        }
        .image-column-vc-3{
            width: 50%;
            float: left;
        }
        .full_section_inner{
            display: block;
        }
    }
}



