.home.rippley{ 
    .rippley-quienes-somos{
        background-size: cover !important;
    }

    .caracteristicas-flash{
        .vc_col-sm-3, .vc_col-sm-6{
            width: 100%;
        }
    }
    
    .servicios-flash{
       .image-column-vc-3{
           width: 100%;
       }
       .image-column-vc-6-big .back .wpb_wrapper{
           margin: 0 auto;
           max-width: 270px;
        }
    
        &.container_inner{
            width: 100%;
        }
    }
}