.home.rippley{
    
    header.centered_logo{
        .header_inner_left{
            margin: 0px 0 90px 0;
        }
        .header_inner_right{
            visibility: hidden;
        }
    }

    .rippley-quienes-somos{
        background-size: 100% 85% !important;
        background-position: center top !important;
        background-attachment: fixed;
    }

    .rippley-flash-contacto{
        z-index: 55;
    }
    
    footer{
        z-index: 0;
    }

    .caracteristicas-flash{
        .wpb_column.vc_column_container.vc_col-sm-6,.wpb_column.vc_column_container.vc_col-sm-3{
            height: 300px;
    
            &:not(.column-background):not(.hero-column) .vc_column-inner{
                justify-content: center;
                text-align: center;
                flex-direction: column;
                display: flex;
            }
        }
        .hero-column .vc_column-inner{
            align-items: flex-end;
            text-align: right;
            display: flex;
        }
        .vc_column-inner{
            padding: 0;
            height: 100%;
        }
    } 
    
    .servicios-flash{
        ul{
            list-style: none;
        }
        .image-column-vc-3, .image-column-vc-6, .text-column-vc-6{
            height: 300px;
        }
        .image-column-vc-6-big{
            height: 600px;
        }
        .vc_column-inner, .wpb_wrapper, .wpb_single_image, .vc_single_image-wrapper,
        .vc_single_image-img{
            height: 100%;
        }
    
        &{
            .full_section_inner{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
            }
        }
        .back{
            h3{
                margin-bottom: 20px;
                text-align: center;
            }
    
            .wpb_wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &.column-list-vc-6 .wpb_wrapper{
                margin: 0 8%;
                text-align: center;
                align-items: center;
            }
            &.column-list-vc-6-big .wpb_wrapper{
                margin: 0 18%;
                align-items: left;
                ul{
                    text-align: left;
                }
                li:before{
                    content: '\23F9';
                    margin-right: 10px;
                }
            }
            &:not(.column-list-vc-6){
                text-align: center;
            }
        }
    }
}


