@media only screen and (max-width: 1000px){
				}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
			h1 {
			font-size: 60px; 					    		}
	
			h2 {
			font-size: 40px; 					    		}
	
			h3 {
			font-size: 32px; 					    		}
	
			h4 {
			font-size: 20px; 					    		}
	
			h5 {
			font-size: 17px; 					    		}
	
			h6 {
			font-size: 13px; 					    		}
	
			body,
		p {
			font-size: 17px; 					    		}
	
	
	}
@media only screen and (max-width: 600px) {
			h1 {
			font-size: 40px; 					    		}
	
			h2 {
			font-size: 30px; 					    		}
	
			h3 {
			font-size: 26px; 					    		}
	
			h4 {
			font-size: 18px; 					    		}
	
			h5 {
			font-size: 14px; 					    		}
	
			h6 {
			font-size: 12px; 					    		}
	
			body,
		p {
			font-size: 14px; 					    		}
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
		
	}